<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a New Address Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Create a New AddressBook</h1>
        </div>
    </div>
    <div class="row">
        <form action="#" th:action="@{/book/new}" th:object="${addressBook}" method="post">
            <p>Name: <input type="text"  th:field="*{name}" id="name" /></p>
            <!--            <input type="hidden"  th:field="*{buddyInfoList}"  />-->
            <!--            <input type="hidden"  th:field="*{id}"  />-->
            <p><input type="submit" value="Submit" /></p>
        </form>
    </div>
</div>

</body>
</html>